<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>quiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">quiz</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->
<ion-header>
  <ion-toolbar>
    <ion-title>Question {{data['questionIndex'] + 1}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{data['currentQuestion'].question}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let answer of data['currentQuestion'].answers">
          <ion-radio-group>
            <ion-item>
              <ion-label>{{answer.text}}</ion-label>
              <ion-radio slot="start" value="{{answer.correct}}"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-progress-bar value="{{['progress']}}"></ion-progress-bar>
  <ion-button expand="block" color="success" (click)="nextQuestion()"
    >Suivant</ion-button
  >
</ion-content>
